
* {
  box-sizing: border-box; }

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

section {

    overflow: hidden;
    display: block;
}

body {
    width: 100%;
    color: #282828;
    font-size: 16px;
    position: relative;
}

div{
  display: block;
}

.left-side-column{
  height: 100vh;
  background-color: #8faeae;
  display: table;
}

.right-side-column{
  height: 100vh;
  background-color: #203c48;
  display: table;
}

.left-side-column_1{
  height: 100vh;
  background-color: #203c48;
  display: table;
}

.right-side-column_1{
  height: 100vh;
  background-color: #8faeae;
  display: table;
}

.center-white-column{
  background-color: #FFF;
  height: 100vh;
  display: table;
}

.center-green-column{
  background-color: #203c48;
  height: 100vh;
  display: table;
}

.no-margin {
  margin: 0 !important;
  padding: 0 !important;
}

.col-md-6 {
padding-right: 0;
padding-left: 0;
}

#scrollToTop{ 
    padding:10px;
    border-radius: 200px; 
    text-align:center; 
    background-color:white;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    bottom:30px;
    left:30px;
    z-index: 99;
    display: none;
    text-decoration:none;
    transition-duration: 1s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#scrollToTop:hover{
    text-decoration:none;
    background-color: #ff5555;
    transition-duration: 1s;
    color: white;
}

