* {
  box-sizing: border-box; }

a {
  color: #1e6bb8;
  text-decoration: none; }


section {
    overflow: hidden;
    display: block;
}

body {
    width: 100%;
    color: #282828;
    font-size: 16px;
    position: relative;
}

div{
  display: block;
}

.left-side-column{
  height: 100vh;
  background-color: #8faeae;
  display: table;
}

.right-side-column{
  height: 100vh;
  background-color: #253e49;
  display: table;
}

.left-side-column_1{
  height: 100vh;
  background-color: #253e49;
  display: table;
}

.right-side-column_1{
  height: 100vh;
  background-color: #426466;
  display: table;
}

.center-white-column{
  background: #FFF ;
  height: 100vh;
  display: table;
}

.center-black-column{
  background: #0001 ;
  height: 100vh;
  display: table;
}

.center-green-column{
  background-color: #253e49;
  height: 100vh;
  display: table;
}

.no-margin {
  margin: 0 !important;
  padding: 0 !important;
}

.col-md-6 {
padding-right: 0;
padding-left: 0;
}

#scrollToTop{
    padding:10px;
    border-radius: 200px;
    text-align:center;
    background-color:white;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    bottom:30px;
    left:30px;
    z-index: 100;
    display: none;
    text-decoration:none;
    transition-duration: 1s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#scrollToTop:hover{
    text-decoration:none;
    background-color: #ff5555;
    transition-duration: 1s;
    color: white;
}

#hellopreloader>p{
  display:none;
}

#hellopreloader_preload{
  display: block;position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 200px;
  background: #253e49 url(http://hello-site.ru//main/images/preloads/ball-triangle.svg) center center no-repeat;
  background-size:109px;
}

#ben {
  height: 200px;
  width: auto;
  position: absolute;
  z-index: 5;
  top: 30vh;
  left: 42vw;
}

#menu{
  z-index: -9;
  width: 100%;
  position: absolute;
  top: 0vh;
  background-color: white;
  transition: all 50000ms ease-in-out;
  transition-duration: 3s;
}

#menu.active {
  z-index: 9;
  background-color: #203c48;
}

#benia {
  height: 15vh;
  position: relative;
  top: 5vh;
  left: 15vh;
}

.targets {
  color: white;
  position: relative;
  top: 5vh;
  left: 40vh;
  width: 30%;
  text-decoration: none;
  text-align: left;
}

.targets a{
  text-decoration: none;
  color: white;
}

.targets h2{
  transition: all 0.5s;
  display: block;
  cursor: pointer;
  text-decoration: none;
  text-align: left;
}

.targets h2 i{
  display: none;
  color: white;
  transition: all 1s;
}

.targets h2:hover{
  display: run-in;
  color: #3BAF0B;
}

.targets h2:hover i{
  display: inline-block;
  color: #3BAF0B;
}

.targets a:hover{
  text-decoration: underline;
  color: #253E49;
}

.targets h2 i{
  display: none;
}

@media screen and (max-device-width: 768px) {
  #benia {
    display: none;
  }
  .targets {
    position: relative;
    top: 5vh;
    left: 10vh;
    width: 80%;
  }
}

#nav-toggle {
   position: absolute;
   width: 50px;
   height: 50px;
   top: 30px;
   right: 15.5px;
   z-index: 99;
  }

#circle {
  width: 50px;
  height: 50px;
  background-color: white;
  position: absolute;
  top: 16px;
  right: 25px;
  z-index: 98;
  border-radius: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

#nav-toggle {
  cursor: pointer;
  padding: 10px 35px 16px 0px;
 }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 2px;
  width: 30px;
  background: black;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

#gal {
  text-align: center;
}

.window {
  height: 50%;
  width: 80%;
  background-color: #253E49;
  margin: 30% auto 0%;
}

@media screen and (max-device-width: 426px) {
  .window {
    margin: 5% auto;
  }
}

.bar {
  width: 100%;
  background: #3BAF0B;
  border: 2px solid;
  border-color: white;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bar p {
  margin: 1px 5%;
  font-family: 'hooge05_55Cyr2';
  font-size: 15pt;
  display: inline-block;
}

.point {
  height: 15px;
  width: 15px;
  border-radius: 100px;
  background: #253E49;
  display: inline-block;
  float: right;
  margin-right: 10px;
  margin-top: 7px;
}

.firstp {
  margin-right: 25px
}

.thirdp {
  background-color: white;
}

.content {
  width: 100%;
  height: 92%;
  min-height: 300px;
  background-color: white;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#question {
  position: relative;
  top: 0px;
  left: 0px;
}

#question.active{
  display: none;
}

.content .text p {
  display: inline-block;
  font-family: 'Play';
  font-weight: bold;
  font-size: 25pt;
  color: #3BAF0B;
  margin: 10% auto 0px ;
  padding: 5% 0px;
  text-align: justify;
}

.text img {
  position: relative;
  left: 0px;
  top: -15px;
}

.button {
  display:inline;
  font-family: 'hooge05_55Cyr2';
  margin: 20px auto;
  padding: 10px 40px;
}

.no {
  padding: 10px 46px;
}

.yes {
  background-color: #253E49;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transition: 1s;
  margin-bottom: 5%;
}

.yes:hover {
  background-color: #3BAF0B;
}

@media screen and (max-device-width: 1025px) {
  .content .text p {
    margin: auto;
  }
  .text img {
    top: 0px;
  }
}

@media screen and (max-device-width: 770px) {
  .content .text p {
    font-size: 20pt;
  }
}

#ifyes {
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 99;
  font-family: 'hooge05_55Cyr2';
  margin: 0px auto;
  padding: 10px 0px 0px;
  color: #253E49;
}

#ifyes h2{
  font-size: 92pt;
  margin: -5px;
  display: inline-block;
}

#ifyes h3 {
  margin: -20px;
  font-size: 40pt;
}

#ifyes h4 {
  color: #3BAF0B;
  font-size: 28pt;
}

.sched {
  color: white;
  background-color: #253E49;
  font-size: 35pt;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  transition: 1s;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sched:hover {
  background-color: #3BAF0B;
}

#ifyes a{
  text-decoration: none;
}

@media screen and (max-device-width: 376px) {
  #ifyes h2{
    font-size: 88pt;
  }

  #ifyes h3 {
    font-size: 38pt;
  }

  #ifyes h4 {
    font-size: 27pt;
  }

  .sched {
    font-size: 33pt;
  }
}

@media screen and (max-device-width: 376px) {
  #ifyes h2{
    font-size: 76pt;
  }

  #ifyes h3 {
    font-size: 33pt;
  }

  #ifyes h4 {
    font-size: 23pt;
  }

  .sched {
    font-size: 25pt;
  }
}

#ifno {
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 99;
  padding: 3%;
  font-size: 20pt;
  text-align: left;
  font-family: 'Play';
}

#ifno h2 {
  display: inline-block;
  color: #3BAF0B;
  font-size: 30pt;
  margin-top: 0px;
}

@media screen and (max-device-width: 770px) {
  #ifno {
    font-size: 15pt;
  }
  #ifno h2 {
    font-size: 25pt;
  }
}

#ifno.active {
  display: block;
}

#ifyes.active {
  display: block;
}

#cont .window {
  margin-top: 5%;
  height: 80%;
}

#cont .window p{
  font-size: 20pt;
}

#cont .window .point{
  margin-top: 12px;
}


.gal_button h1{
  display: inline;
  border-radius: 15px;
  background-color: #253e49;
  padding: 10px 40px;
  color: white;
  font-size: 40pt;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 1s;
  cursor: pointer;
}

.gal_button h1:hover {
  background-color: #3BAF0B;
}

.pict {
  width: 90%;
  margin: 5% auto;
  text-align: center;
}

.pict img {
  height: 70vh;
}

.gal_button {
  width: 80%;
  margin: 0px auto;
}

@media screen and (max-device-width: 321px) {
  .pict img {
    height: 60vh;
  }

  .gal_button h1{
    padding: 5px 30px;
    font-size: 30pt;
    margin: 20px auto;
  }
}

.schedule{
  display: block;
  margin: 10% 10% 10% 5%;
  text-align: left;
  font-family: 'hooge05_55Cyr2';
}

.schedule h1 {
  color: #8eadad;
  font-size: 35pt;
}

.schedule h2 {
  color: #3baf0b;
  font-size: 30pt;
}

.schedule h3 {
  color: #8eadad  ;
  font-family: 'Play';
  font-size: 20pt;
}

@media screen and (max-device-width: 1024px){
  .schedule h1 {
    font-size: 30pt;
  }

  .schedule h2 {
    font-size: 25pt;
  }

  .schedule h3 {
    font-size: 15pt;
  }
}


.partners{
  position:relative;
}

.partners_1{
  display: inline-block;
  width: auto;
  height:auto;
  margin: 30px 50px 30px 60px;
}

.partners_2{
  display: inline-block;
  width: auto;
  height:auto;
  margin: 30px 50px 30px 60px;
}

.galery_bg{
  display: block;
  position: relative;
  background-size: cover;
  bottom: 90%;
  width: 100%;
  z-index: 0;
}

.galery_button{
  display: block;
  position: relative;
  left: 24vh;
  top: -20vh;
  z-index: 2;
}



.galery_bg{
  position: relative;
  display: block;
  background-size: cover;
  width: 90%;
 }


.s {
  min-height: 100vh;
  text-align: justify;
  overflow: hidden;
  color: white;
}

.strips h1,h2{
text-align: center;

}
.strips__strip {
  position: absolute;
  width: 33.33333%;
  min-height: 100vh;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  color: white;
}
.strips__strip:nth-child(3) {
  right: 0;
}
.strips__strip:nth-child(2) {
  right: 33.33%;
}
.strips__strip:nth-child(1) {
  right: 66.66%;
}


.strips__strip:nth-child(1) .strip__content {
  background: #426466;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  -webkit-animation-name: strip1;
          animation-name: strip1;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.strips__strip:nth-child(2) .strip__content {
  background: #426466;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-animation-name: strip2;
          animation-name: strip2;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.strips__strip:nth-child(3) .strip__content {
  background: #426466;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-animation-name: strip3;
          animation-name: strip3;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}



@media screen and (max-width: 760px) {
  .strips__strip {
    min-height: 33.33%;
  }
  .strips__strip:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
  }
  .strips__strip:nth-child(2) {
    top: 33.33%;
    left: 0;
    width: 100%;
  }
  .strips__strip:nth-child(3) {
    top: 66.66%;
    left: 0;
    width: 100%;
  }
}
.strips .strip__content {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.strips .strip__content:hover:before {
  -webkit-transform: skew(-30deg) scale(3) translate(0, 0);
          transform: skew(-30deg) scale(3) translate(0, 0);
  opacity: 0.1;
}
.strips .strip__content:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.05;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: skew(-30deg) scaleY(1) translate(0, 0);
          transform: skew(-30deg) scaleY(1) translate(0, 0);
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.strips .strip__inner-text {
  text-align: center;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  width: 70%;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.strips__strip--expanded {
  width: 100%;
  top: 0 !important;
  left: 0 !important;
  z-index: 3;
  cursor: default;
}
@media screen and (max-width: 760px) {
  .strips__strip--expanded {
    min-height: 100vh;
  }
}
.strips__strip--expanded .strip__content:hover:before {
  -webkit-transform: skew(-30deg) scale(1) translate(0, 0);
          transform: skew(-30deg) scale(1) translate(0, 0);
  opacity: 0.05;
}
.strips__strip--expanded .strip__title {
  opacity: 0;
}
.strips__strip--expanded .strip__inner-text {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.strip__title {
  display: block;
  margin: 0;
  position: relative;
  z-index: 2;
  width: 100%;
  font-size: 3.5vw;
  color: white;
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
@media screen and (max-width: 760px) {
  .strip__title {
    font-size: 28px;
  }
}

.strip__close {
  position: absolute;
  font-size: 60pt;
  right: 3vw;
  top: 3vw;
  opacity: 0;
  z-index: 10;
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.strip__close--show {
  opacity: 1;
}

@-webkit-keyframes strip1 {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes strip1 {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes strip2 {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes strip2 {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes strip3 {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes strip3 {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}


/* Demo purposes */
body {
  font-family: 'Ubuntu';
  text-rendering: geometricPrecision;
  line-height: 1.5;
}

h1, h2 {
  font-weight: 300;
}

.fa {
  font-size: 30px;
  color: white;
}

h2 {
  font-size: 36px;
  margin: 0 0 16px;
}

p {
  margin: 0 0 16px;
}

#textbox {
  text-align: center;
}

#textbox h2 {
  font-size: 45pt;
  font-family: 'hooge05_55Cyr2';
  color: #8eadad;
  margin: auto;
  padding: 47px;
}

@media screen and (min-device-width: 1400px) {
   #textbox h2 {
     display: none;
   }

}

@media screen and (max-device-width: 1024px){
  #textbox h2 {
    font-size: 30pt;
    padding: 10px;
  }
}

@media screen and (max-device-width: 768px){
  #textbox h2 {
    font-size: 40pt;
    padding: 30px;
  }
}

#facebox {
  width: 100%;
  background-color: #717775;
  position: relative;
  bottom: auto;
}

#all {
  position: relative;
  bottom: 0px;
}


#lew {
  height: auto;
  width: 40%;
  float: left;
}

#dasha, #sasha, #aida, #chudia, #andr, #oleh {
  width: 20%;
  float: left;
}

@media screen and (max-device-width: 426px){
  #textbox h2 {
    font-size: 20pt;
    padding: 10px;
  }

  #lew {
    width: 100%;
  }

  #dasha, #sasha, #aida, #chudia, #andr, #oleh {
    width: 50%;
  }
}

#hov {
  position: relative;
  top: 0px;
  left: 0px;
}

.strips__strip img{
  height: 150px;
}

@media screen and (max-device-width: 425px) {
  .strips__strip img{
    height: 50px;
  }
}

#clockdiv{
	font-family: 'Play';
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}

#reg {
  text-align: center;
}
