
@font-face {
  font-family: 'hooge05_55Cyr2';
  src: url('hooge05_55Cyr2.eot?#iefix') format('embedded-opentype'),  url('hooge05_55Cyr2.woff') format('woff'), url('hooge05_55Cyr2.ttf')  format('truetype'), url('hooge05_55Cyr2.svg#hooge05_55Cyr2') format('svg');
  font-weight: normal;
  font-style: normal;
}
